<body>
  <section class="displayer">
    <!-- //Displays the User Input -->
    <section><p class="userInput">Hello</p></section>
  </section>
  <!-- //Displays the Results -->
  <section class="input-group input-group-sm col-sm-12 m-0 p-0">
    <p>Result</p>
  </section>
  <section class="buttons-1">
    <button>AC</button><button>X</button><button>/</button>
  </section>
  <section class="buttons-2">
    <button>7</button><button>8</button><button>9</button><button>*</button>
  </section>
  <section class="buttons-3">
    <button>4</button><button>5</button><button>6</button><button>-</button>
  </section>
  <section class="buttons-4">
    <button>1</button><button>2</button><button>3</button><button>+</button>
  </section>
  <section class="buttons-5"><button>0</button><button>=</button></section>
</body>
<router-outlet></router-outlet>
