<body
  class="container-fluid d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <section class="Calculator" class="jumbotron col-sm-4 p-2 m-0 bg-inverse">
    <h1 class="text-center">Cristobal's Calculator</h1>
    <!-- //Displays the User Input -->
    <section class="input-box input-group input-group-sm col-sm-12 m-0 p-0">
      <p
        class="input-box col-sm-12 form-control text-lg-right bg-info text-white"
        type="text"
      >
        {{ input }}
      </p>
    </section>

    <!-- //Displays the Results -->
    <section class="input-box input-group input-group-sm col-sm-12 m-0 p-0">
      <p
        class="input-box col-sm-12 form-control text-lg-right bg-info text-white"
        type="text"
      >
        {{ input }}
      </p>
    </section>
    <section class="buttons-1" class="col-sm-12 p-1 m-0">
      <button
        type="button"
        class="btn btn-danger col-sm-6"
        (click)="allClear()"
      >
        AC
      </button>
      <button type="button" class="btn btn-warning col-sm-3" (click)="clear()">
        C
      </button>
      <button
        type="button"
        class="btn btn-info col-sm-3"
        (click)="operator('/')"
      >
        /
      </button>
    </section>
    <section class="buttons-2" class="col-sm-12 p-1 m-0">
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('7')"
      >
        7
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('8')"
      >
        8
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('9')"
      >
        9
      </button>
      <button
        type="button"
        class="btn btn-lg btn-info col-sm-3 p-1"
        (click)="operator('*')"
      >
        *
      </button>
    </section>
    <section class="buttons-3" class="col-sm-12 p-1 m-0">
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('4')"
      >
        4
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('5')"
      >
        5
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('6')"
      >
        6
      </button>
      <button
        type="button"
        class="btn btn-lg btn-info col-sm-3 p-1"
        (click)="operator('-')"
      >
        -
      </button>
    </section>
    <section class="buttons-4" class="col-sm-12 p-1 m-0">
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('1')"
      >
        1
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('2')"
      >
        2
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('3')"
      >
        3
      </button>
      <button
        type="button"
        class="btn btn-lg btn-info col-sm-3 p-1"
        (click)="operator('+')"
      >
        +
      </button>
    </section>
    <section class="buttons-5" class="col-sm-12 p-1 m-0">
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('.')"
      >
        .
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        (click)="pressNum('0')"
      >
        0
      </button>
      <button
        type="button"
        class="btn btn-lg btn-success col-sm-6 p-1"
        (click)="getAnswer()"
      >
        =
      </button>
    </section>
    <section>
      <h2 class="text-center">Recent formulas:</h2>
      <ul class="list-unstyled mb-0">
        <li
          *ngFor="let item of history"
          class="input-box col-sm-12 form-control text-center bg-grey text-white"
        >
          {{ item }}
        </li>
      </ul>
    </section>
  </section>
  <footer>
    Project made with Angular, TypeScript and Bootstrap by
    <a href="https://github.com/SirPhoros/calculator-angular"
      >Cristóbal G. Torrubia</a
    >. © 2023
  </footer>
  <router-outlet></router-outlet>
</body>

<style>
  footer {
    background-color: rgba(0, 0, 0, 0.624); 
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
  }
  .bg-grey {
    background-color: grey;
  }
</style>
